# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database and instance configs
instance/
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
